@CHARSET "UTF-8";

/*メニューや画面全体の設定なので、ログイン後の各画面に適用させること*/


/* サイトの設定　*/
.inner {
	max-width: 1500px;	/*サイトの最大幅*/
	margin: 0 auto;
	padding: 0 3%;		/*上下、左右へのボックス内の余白*/
}

body {
	margin: 0px;
	padding: 0px;
	color: #666;	/*全体の文字色*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #f9f6f0;
}



h1,p,ul,ol,li,dl,dt,dd,form,figure,form {
	margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;
}

ul {
	list-style-type: none;
}



/* headerの画像設定*/
header{
	background: url(img/zantei.JPG) no-repeat center center / cover;
	height: 200px;
	color: #fff;
}

header a {
	color: #fff;	/*リンクテキストの文字色*/
}
/*トップページへの追加設定*/
.home header {
	height: 400px;	/*ヘッダーの高さを上書き。*/
}
/*ロゴ画像*/
header h1 {
	margin: 0 auto;
	width: 200px;		/*ロゴ画像の幅*/
	padding-top: 60px;	/*上に空ける余白。上下のバランス調整をここでとって下さい。*/
}

#menubar {
	clear: both;overflow: hidden;position: relative;z-index: 100;
	background: #2788c5 url(img/menubar_back.jpg) repeat-x center center / 100px;	/*背景色、背景画像の読み込み。*/
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);	/*ボックスの影。右に、下に、広げる幅、0,0,0は黒の事で0.4は色が40%ついた状態の事。*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	float: left;	/*左に回り込み*/
	width: 20%;	/*メニュー幅（100÷5個=20%）*/
}

#menubar li a {
	display:  block;text-decoration: none;
	line-height: 1.4;	/*行間*/
	color: #fff;		/*文字色*/
	font-size: 20px;	/*文字サイズ*/
	height: 70px;		/*高さ。下のmargin(10+10=20)とpadding-top(10)の数字を合計して「100」になるようにする。*/
	margin: 10px 0;		/*上下、左右に空けるメニューの外のスペース。この部分はマウスオン時に反応しない(色がかわらない)部分になります。*/
	padding-top: 10px;	/*メニュー内の上に空ける余白。上下のバランスをここで調整して下さい。*/
	padding-left: 70px;	/*メニュー内の左側に空ける余白。アイコンとのバランスを調整します。*/
	border-radius: 5px;	/*角丸のサイズ。マウスオン時に角が丸くなる設定です。*/
}

/*「ホーム」メニューの設定
アイコンの読み込み。左から15pxの場所に配置。サイズは50px。*/
#menubar li.home {
	background: url(img/home.png) no-repeat 15px / 50px;
}
/*「時間割」メニューの設定
アイコンの読み込み。左から15pxの場所に配置。サイズは50px。*/
#menubar li.schedule {
	background: url(img/zikanwari.png) no-repeat 15px / 50px;
}
/*「欠席連絡」メニューの設定
アイコンの読み込み。左から15pxの場所に配置。サイズは50px。*/
#menubar li.absence {
	background: url(img/kesseki.png) no-repeat 15px / 50px;
}
/*「アカウント情報変更」メニューの設定
アイコンの読み込み。左から15pxの場所に配置。サイズは50px。*/
#menubar li.account {
	background: url(img/account.png) no-repeat 15px / 50px;
}
/*「ログアウト」メニューの設定
アイコンの読み込み。左から15pxの場所に配置。サイズは50px。*/
#menubar li.logout {
	background: url(img/logout.png) no-repeat 15px / 50px;
}
/*装飾文字（英語表記）の設定*/
#menubar li a span {
	text-shadow: none;display: block;
	font-size: 12px;		/*文字サイズ*/
	letter-spacing: 0.2em;	/*文字間隔を少し広くする設定*/
	padding-left: 3px;		/*左に少しだけ余白を作る。*/
	opacity: 0.6;			/*60%だけ色がついた状態。*/
}

#menubar-s {display: none;}

/*マウスオン時メニューと、現在表示中(current)メニューの設定*/
#menubar li a:hover,#menubar li.current a {
	background: rgba(0,0,0,0.15);	/*0,0,0は黒の事で、0.15は15%だけ色がついた状態の事。*/
}

body.is-fixed-menu #menubar.nav-fix-pos {
	position: fixed;width: 100%;top: 0px;
}
body.is-fixed-menu .contents:first-of-type {
	margin-top: 100px;	/*メニューブロックの高さを指定する。背景画像も高さ100pxなので通常はこのままで。*/
}
/*※以下の２ブロックのスタイルの「中身」は、上の２ブロックのスタイルと単純に合わせておいて下さい。fixmenuスクリプトを２つ使う為に必要な設定になります。*/
body.is-fixed #menubar.nav-fix-pos {
	position: fixed;width: 100%;top: 0px;
}
body.is-fixed .contents:first-of-type {
	margin-top: 100px;
}

@media screen and (max-width:1050px){

#menubar li a {
	font-size: 16px;	/*文字サイズ*/
	height: 65px;		/*高さ*/
	padding-top: 15px;	/*メニュー内の上に空ける余白。上下のバランスをここで調整して下さい。*/
}

h3 {
	font-size:
}

}

@media screen and (max-width:900px){
/*メインメニュー*/
#menubar li a {
	display:  block;text-decoration: none;
	line-height: 1.4;	/*行間*/
	color: #fff;		/*文字色*/
	font-size: 16px;	/*文字サイズ*/
	height: 70px;		/*高さ。下のmargin(10+10=20)とpadding-top(10)の数字を合計して「100」になるようにする。*/
	margin: 10px 0;		/*上下、左右に空けるメニューの外のスペース。この部分はマウスオン時に反応しない(色がかわらない)部分になります。*/
	padding-top: 10px;	/*メニュー内の上に空ける余白。上下のバランスをここで調整して下さい。*/
	padding-left: 70px;	/*メニュー内の左側に空ける余白。アイコンとのバランスを調整します。*/
	border-radius: 5px;	/*角丸のサイズ。マウスオン時に角が丸くなる設定です。*/
}
/*英語表記（飾り文字）*/
#menubar li a span {
	display: block;
	font-size: 10px;	/*文字サイズを小さく*/
}
}

@media screen and (max-width:800px){
/*メインメニュー*/
#menubar li a {
	display:  block;text-decoration: none;
	line-height: 1.4;	/*行間*/
	color: #fff;		/*文字色*/
	font-size: 12px;	/*文字サイズ*/
	height: 70px;		/*高さ。下のmargin(10+10=20)とpadding-top(10)の数字を合計して「100」になるようにする。*/
	margin: 10px 0;		/*上下、左右に空けるメニューの外のスペース。この部分はマウスオン時に反応しない(色がかわらない)部分になります。*/
	padding-top: 10px;	/*メニュー内の上に空ける余白。上下のバランスをここで調整して下さい。*/
	padding-left: 70px;	/*メニュー内の左側に空ける余白。アイコンとのバランスを調整します。*/
	border-radius: 5px;	/*角丸のサイズ。マウスオン時に角が丸くなる設定です。*/
}
/*英語表記（飾り文字）*/
#menubar li a span {
	display: block;
	font-size: 10px;	/*文字サイズを小さく*/
}
}

@media screen and (max-width: 700px) {
	#menubar li a {
	display:  block;text-decoration: none;
	line-height: 1.4;	/*行間*/
	color: #fff;		/*文字色*/
	font-size: 11px;	/*文字サイズ*/
	height: 70px;		/*高さ。下のmargin(10+10=20)とpadding-top(10)の数字を合計して「100」になるようにする。*/
	margin: 10px 0;		/*上下、左右に空けるメニューの外のスペース。この部分はマウスオン時に反応しない(色がかわらない)部分になります。*/
	padding-top: 10px;	/*メニュー内の上に空ける余白。上下のバランスをここで調整して下さい。*/
	padding-left: 70px;	/*メニュー内の左側に空ける余白。アイコンとのバランスを調整します。*/
	border-radius: 5px;	/*角丸のサイズ。マウスオン時に角が丸くなる設定です。*/
}
/*英語表記（飾り文字）*/
#menubar li a span {
	display: block;
	font-size: 9px;	/*文字サイズを小さく*/
}

}


