@CHARSET "UTF-8";

/*タブメニュー全体の設定。タブ使用時に適用*/

/*タブの位置設定*/
.cp_tab {
	margin-top: 1em auto;
	margin-left: 5em;
	padding-right: 5em;
}
/*ラジオボタンをタブに見せかけるための設定*/
.cp_tab > input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;

}

/*選択しているタブ以外の情報を移さないための設定*/
.cp_tab .cp_tabpanel {
	display: none;

}


.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6) {
	display: block;

}

/*タブの間や高さの設定*/
.cp_tab > label {
	position: relative;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	border: 1px solid transparent;
	border-bottom: 0;

}

/*タブフォーカス時の動作*/
.cp_tab > label:hover,
.cp_tab > input:focus + label {
	margin-bottom: -1px;
	border-bottom: 5px solid #66CCFF;

}

/*タブクリック時の動作*/
.cp_tab > input:checked + label {
	margin-bottom: -1px;
	border-color:  #ffffff;
	border-bottom: 5px solid #0066cc;/*背景色と同じ*/
	border-radius: 6px 6px 0 0;
}


.cp_tab .cp_tabpanel {
	padding: 0.5em 1em;
	border-top: 2px solid #66CCFF;

}

/*画面の横幅700px以下の時*/
@media (max-width: 700px) {
	.cp_tab {
		font-size: 0.8em;

	}

}