@CHARSET "UTF-8";

.main1 {
	padding: 0px 80px;
}
p.sub1{
	padding: 1px 20px;
}
select.sub2{
	width: 350px;
	height: 30px;
}
.anser1{
	width: 500px;
	height: 30px;
}

.link-bottan {
	display: block;			/*外側のボーダー*/
	width: 105px;
	padding: 1px;
	margin-left:30px;
	text-align: center;
	border-style: solid;
	border-color: #80a0ff;
	border-radius: 4px;
}
.link-bottan a{
	display: block;			/*リンクをボタンに見せかける*/
	width: 100px;				/*内側のボーダー*/
	padding-top: 2px;		/*縦*/
	text-align: center;
	border: 2px solid;
	border-color: #aaa0ff;
	background: #ffffff;
	border-radius: 2px;
	text-decoration: none;
	color: #666;
}

table.left{
	margin-top: 20px;
	margin-left: -33px;
